#calculator-container {
    display: flex;
    justify-content: center;
}

#calculator-body {
    background-color: rgb(53, 50, 50);
    border: 1px solid black;
    border-radius: 5px;
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#display-body {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#display {
    width: 250px;
    height: 70px;
    background-color: green; 
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    border-top: 4px solid black;
    border-left: 4px solid black;
    outline: solid 1px gray
}

#display p {
    font-size: 40px;
    font-weight: 500;
    
    text-shadow: 3px 2px 20px greenyellow
}

#buttons-body {
    display: flex;
    flex-direction: column;
}



#second-row {
    display: flex;
}

#left-column {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#right-column {
    background-color: rgb(53, 50, 50)y;
    width: 30%;
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.digits-container {
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.digits {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    font-size: 20px
}

.digits:hover {
    filter: brightness(60%)
}

#zero-container {
    justify-content: space-around;
}